img {
   width: 175px;
   text-align: center;
}

.image1 {
margin-top: 10px;
margin-bottom: 10px;
}

h1 {
   text-align: center;
   text-transform: uppercase;
   border-bottom: 1px solid black;
   margin-top: 18%;
}