body {
   background-color: lightgray;
   margin: 0 15%;
   font-family: sans-serif;
}

img {
   width: 175px;
   text-align: center;
}

.image1 {
align-items: center;
margin-top: 1px;
margin-bottom: 1px;
}

h1 {
   text-align: center;
   text-transform: uppercase;
   border-bottom: 1px solid black;
   margin-top: 18%;
}