* {
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
   background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/white-waves.png);
   margin: 0;
  
}

header {
   background-color: rgb(48,110,193);
   color:white;
   padding: 35px 25px;

}

nav {
   background-color: #333;
}
nav ul {
   display: flex;
   list-style: none;
   justify-content: center;
   margin: 0;
   padding: 0 30px;
   gap: 30px;
   padding-top: 20px;
   padding-bottom: 20px;
 }

 nav ul li a {
   display: block;
   color: #fff;
   text-decoration: none;
   padding: 16px;
   background-color: #222;
   border-radius: 12px;
   min-width: 120px;
   text-align: center;
   transition: all 0.33s ease;
 }
 
 nav ul li a:hover {
   background-color: #999;
 }

a {
   display: block;
   color: #fff;
   text-decoration: none;
   padding: 16px;
   background-color: #222;
   border-radius: 12px;
   min-width: 80px;
   text-align: center;
   transition: all 0.33s ease;
}
a:hover {
   background-color: #999;
}

aside img {
   max-width: 250px;
   border: 6px solid rgb(48,110,193);
   border-radius: 100%;
   aspect-ratio: 1/1;
   object-fit: cover;
}

img {
   width: 175px;
}
h1 {
   text-align: center;
   text-transform: uppercase;
   font-size: 2rem;
   color: white;
}
h2 {
   font-size: 1.5rem;
}

h3 {
   font-size: 1.25rem;
}

footer {
   padding-bottom: 20px;
}

/**** Layout ****/
.container {
   background-color: white;
   display: grid;
   gap: 1.5rem;
   grid-template-columns: repeat (12, 1fr);
   margin: 0 auto;
   width: min(95%, 75rem);
}
.container > * {
grid-column: span 12;

}

/* Desktop Layout */
@media screen and (min-wdith: 40rem) {
   .col-span-8 {
   grid-column: span 8;
   }
   .col-span-4 {
   grid-column: span 4;
   }
}
